<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Basics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>

                {% if current_user.is_authenticated %}

                    <li><a href="{{ url_for('basics') }}">Machine Learning Basics</a></li>
                    <li><a href="{{ url_for('training') }}">Training Models</a></li>
                    <li><a href="{{ url_for('view_results') }}">Results</a></li>
                    <li><a href="{{ url_for('examples') }}">Examples and Tutorials</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to Machine Learning Basics</h1>
        <p>Learn the fundamentals of machine learning and how to train your own models.</p>

        <div id="ml-animation"></div>
    </main>
    <footer>
        <p>&copy; 2024 Beyond Vision -  Machine Learning Basics. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='ml_animation.js') }}"></script>
</body>
</html>
